@import "../../../assets/css/vars.scss";
.navbar-wrapper {
  height: 65px;
}
.brand-logo {
  font-weight: 600;
}
.brand-title {
  font-size: 1.5em;
  padding-left: 8px;
  color: $darkgrey;
  font-weight: 600;
}
#menu-item-user-profile {
  padding: 0px;
}
.user-profile {
  font-size: 1.3em;
  height: 100%;
}

.searchbox {
  padding: 8px;
  border: 1px solid $lightgrey;
  border-radius: 3px;
  &__icon {
    color: grey;
    margin-right: 10px;
  }
  &__input {
    border-width: 0px;
    border: none;
    outline: none;
    max-width: 500px;
    width: 40vw;
  }
}

@media only screen and (max-width: 1100px) {
  .brand-title {
    font-size: 1.2em;
    padding-left: 8px;
  }
  .searchbox {
    &__input {
      width: 30vw;
    }
  }
}
