@import "../../../assets/css/vars.scss";

.news-card {
  padding: 15px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  &__top {
    display: flex;
  }
  &__bottom {
  }
}

.news-img {
  width: 100%;
  margin-right: 20px;
  &__thumbnail {
    object-fit: cover;
    width: 100%;
    height: 350px;
    box-shadow: 1px 2px 3px $superlightgrey;
  }
}

.news-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__top {
    &__title {
      font-weight: 600;
      font-size: 2em;
    }
    &__desc {
      font-size: 1.4em;
    }
    &__button {
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    &__meta {
      &__source {
        font-weight: 600;
      }
      &__reason {
        font-weight: 600;
        color: rgb(54, 187, 187);
      }
      &__class {
        font-weight: 600;
      }
    }

    &__reference {
      padding-top: 10px;
      &__time {
        color: $grey;
      }
      &__link {
        color: $darkgrey;
        font-size: 1.2em;
      }
    }
  }
}

.news-article {
  width: 95%;
  padding-top: 20px;
  margin: auto;
  text-align: center;
  &__text {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  &__button {
  }
}

@media only screen and (max-width: 1100px) {
  .news-card {
    &__top {
      display: flex;
      flex-direction: column;
    }
  }
  .news-img {
    text-align: center;
    margin-right: 0px;
    &__thumbnail {
      height: 500px;
    }
  }

  .news-detail {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    &__top {
      &__title {
        font-size: 1.5em;
        text-align: center;
      }
      &__desc {
        font-size: 1.2em;
      }
    }
  }
}
